body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .calendar-container {
    background-color: rgb(137, 195, 246);
    border: 10px solid #1706d4;
    border-radius: 5px;
    padding: 80px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
  }

  h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  form {
    text-align: center;
  }

  label {
    font-weight: bold;
  }

  .form-control {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  button.btn {
    margin-top: 10px;
  }

  .date-buttons {
    text-align: center;
    margin-top: 20px;
    display: flex;
    gap: 10px;
  }

  .btn-primary {
    background-color: #020305;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }

  .btn-primary:hover {
    background-color: #00b362;
  }

  p {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
  }
  .special {
    color: red; 
    font-weight: bold; 
  }